<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>JWE Park Planner</title>
  </meta>
  <head>
	<link rel="stylesheet" href="jw.css">
  </head>

  <body>
    <div id="app">
		<h2>Islands</h2>
		<div id="tab">
			<label v-for="island in islands">
				<input class="hide" type="radio" v-model="currentIsland" v-bind:value="island">
				<span>{{island.name}}</span>
			</label>
		</div>
		<h2>Cages</h2>
		<div id="tab">
			<label v-for="(cage, index) in currentIsland.cages">
				<input class="hide" type="radio" v-model="currentCage" v-bind:value="cage">
				<span>{{cage.name}}</span>
				<button class="closeTab" v-on:click="currentIsland.cages.splice(index, 1)" v-if="currentIsland.cages.length > 1">X</button>
			</label>
			<label>
				<input class="hide" type="button" v-on:click="addCage">
				<span>+</span>
			</label>
		</div>
		<h2><input type="text" name="format" v-model="currentCage.name" /></h2>
		<table cellspacing="0" cellpadding="0" >
			<tr>
				<th class="rightAlign">Target</th>
				<th class="rightAlign">Count</th> 
				<th class="centerAlign">Type</th> 
				<th class="rightAlign">Pop Min</th>
				<th class="rightAlign">Pop Max</th>
				<th class="rightAlign">Grass Area</th>
				<th class="rightAlign">Forest Area</th>
				<th class="rightAlign">Total Area</th>
				<th class="rightAlign">Total Price</th>
				<th class="rightAlign">Total Rating</th>
			  </tr>
			<tr>
				<td class="rightAlign" v-bind:class="{ err: !isInRange(currentCageTarget, currentCagePopMin, currentCagePopMax) }">{{currentCageTarget}}</td>
				<td class="rightAlign" v-bind:class="{ err: !isInRange(currentCageCount, currentCagePopMin, currentCagePopMax), warn: currentCageCount != currentCageTarget }">{{currentCageCount}}</td>
				<td class="centerAlign">{{currentCageType}}</td>
				<td class="rightAlign">{{currentCagePopMin}}</td>
				<td class="rightAlign">{{currentCagePopMax}}</td>
				<td class="rightAlign">{{currentCageGrass}}</td>
				<td class="rightAlign">{{currentCageForest}}</td>
				<td class="rightAlign">{{currentCageTotalArea}}</td>
				<td class="rightAlign">{{formatPrice(currentCagePrice)}}</td>
				<td class="rightAlign">{{currentCageRating}}</td>
			</tr>
		</table>
		<h2>Assets</h2>

        <!--<input type="text" name="format" v-model="currentCage.name" />-->
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th>Species</th>
				<th class="rightAlign">Target</th> 
				<th class="rightAlign">Count</th>
				<th class="centerAlign">Type</th>
				<th class="rightAlign">Base Rating</th>
				<th class="rightAlign">Base Price</th>
				<th class="rightAlign">Comfort %</th>
				<th class="rightAlign">Social Min</th>
				<th class="rightAlign">Social Max</th>
				<th class="rightAlign">Pop Min</th>
				<th class="rightAlign">Pop Max</th>
				<th class="rightAlign">Grass Area</th>
				<th class="rightAlign">Forest Area</th>
				<th class="rightAlign">Total Area</th>
				<th class="rightAlign">Total Price</th>
				<th class="rightAlign">Total Rating</th>
				<th></th>
			  </tr>
			<tr v-for="(dino, index) in currentCage.dinos">
				<td><select v-model="dino.species" style="width: 200px">
					<option v-for="spec in species" v-bind:value="spec">
						{{ spec.name }}
					</option>
				</select>
				</td>
					<td v-bind:class="{ err: !isInRange(dino.target, dino.species.socialMin, dino.species.socialMax) }"><input class="rightAlign" type="number" min="0" v-model="dino.target"></td>
					<td v-bind:class="{ err: !isInRange(dino.count, dino.species.socialMin, dino.species.socialMax), warn: dino.count != dino.target }"><input class="rightAlign" type="number" min="0" v-model="dino.count"></td>
					<td class="centerAlign">{{dino.species.type}}</td>
					<td class="rightAlign">{{dino.species.baseStar}}</td>
					<td class="rightAlign">{{formatPrice(dino.species.basePrice)}}</td>
					<td class="rightAlign">{{dino.species.comfort}}</td>
					<td class="rightAlign">{{dino.species.socialMin}}</td>
					<td class="rightAlign">{{dino.species.socialMax}}</td>
					<td class="rightAlign">{{dino.species.popMin}}</td>
					<td class="rightAlign">{{dino.species.popMax}}</td>
					<td class="rightAlign">{{dino.species.grass}}</td>
					<td class="rightAlign">{{dino.species.forest}}</td>
					<td class="rightAlign">{{dino.species.grass + dino.species.forest}}</td>
					<td class="rightAlign">{{formatPrice(dino.species.basePrice * dino.target)}}</td>
					<td class="rightAlign">{{dino.species.baseStar * dino.target}}</td>
					<td><button class="removeDino" v-on:click="currentCage.dinos.splice(index, 1)">X</button></td>
			</tr>
		</table>
		<button class="greenbutton" type="button" v-on:click="addDino">+</button>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="jw.js"> </script>

  </body>
</html>